<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="shortcut icon" href="/images/sampleimg.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <%- include header.ejs %>
    <h1 class="text-center">Tasks</h1>
    <p>Id: <%= auth_user._id %></p>
    <%- include footer.ejs %>
</body>
</html>