<!DOCTYPE html>
<html>
<head>
    <title>Tasks</title>
    <link rel="shortcut icon" href="/images/sampleimg.png" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
</head>
<body>
    <%- include header.ejs %>
    <div class="text-center createtask">
        <i class="material-icons" data-toggle="modal" data-target="#createTaskModal">add_box</i>
        <div>Create Task</div>
    </div>
    <div class="container">
    <div class="row">
        <div class="card-columns" id="task-list"></div>
    </div>
    </div>

    <!-- create task modal -->

    <div class="modal fade" id="createTaskModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title text-center">Create Task</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/api/tasks">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" name="title">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="4" placeholder="Write Task Here.." name="description"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include footer.ejs %>
</body>
<script src="/javascript/jquery.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
<script type="text/javascript">

    $(document).ready(function() {
        var user_id = <%- JSON.stringify(auth_user['_id']) %>;

        function create_task_card(title, description, timestamp){
            return `<div class="card">
                        <div class="card-body">
                            <h5 class="card-title"> ${title} </h5>
                            <p class="card-text"> 
                                ${description}
                            </p>
                            <p class="card-text"><small class="text-muted">Last updated: ${timestamp}</small>
                            </p>
                        </div>
                    </div>`
        }

        let task_list = [];
        $.ajax({
            url     : '/api/tasks',
            type    : 'GET',

            success : function(data) {
                console.log(data['tasks']);
                data['tasks'].forEach(function(task){
                    if(task['author']['_id'] == user_id){
                        task_list.push(task);
                    }
                });
            },
            complete : function(data) {
                let task_cards_string = "";
                task_list.forEach(function(task) {
                    task_cards_string += create_task_card(task.title, task.description, task.timestamp);
                });
                $('#task-list').append(task_cards_string);
            },
            error: function(err) {
                console.log(err);
            }
        });

    });
</script>
</html>