body{
	background-color: #111 !important;
 	color: white !important;
}
.topbar{
	background: #000;
	margin-bottom: 30px !important;
}
.footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}